*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    background-color: #8FBC8F;
    justify-content: space-evenly;
    height: 140px;
    width: 100%;
}

.imgheader {
    width: 140px;
    height: 150px;
}

.listaheader {
    display: flex;
    font-weight: bold;
    margin-left: 120px;
    font-size: 20px;
}

.itenslistaheader {
    margin-right: 60px;
    margin-top: 56px;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
}

form {
    margin-top: 40px;
}

.pdiv {
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 3px; 
}

.login {
    margin-left: 10px;
}

.login:hover {
    cursor: pointer;
}

.carrinhoheader {
    width: 54px;
    height: 55px;
    margin-top: 30px;
    margin-left:100px;
}

.flexmain {
    display: flex;
}

.indicadorpagina {
    background-color: #363636;
    border-radius: 10px;
    color: white;
    width: 320px;
    height: 30px;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.listamain {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.itensmain {
    background-color: #363636;
    margin-left: 40px;
}

nav ul li img {
    width: 140px;
    height: 180px;
    padding-left: 5px;
}

aside {
    margin-left: 30px;
}

#navegacao_aside {
    border-left: #363636 solid 1px;
    padding-left: 15px;  
}

.itens_aside {
    background-color: #363636;
    border-radius: 20px;
    height: 40px;
    width: 165px;
    text-align: center;
    padding-top: 15px;
    color: white;
    font-weight: bold;
    margin-bottom: 35px;
}

#suporte {
    display: flex;
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}

#suporte p {
    margin-top: 5px;
}

.icones {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

footer {
    background-color: #363636;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 35px;
}

footer p {
    margin-top: 9px;
    margin-left: 550px;

}

.atendimento {
    width: 30px;
    height: 27px;
}

.redessocais {
    margin-right: 20px;
    margin-top: 9px;
}